@model CondoSimples.Models.UserModel

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>

<h3>Tem certeza que quer escluir este usuário?</h3>
<div>
    <h4>Usuário</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Unit.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Residents)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Residents)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pets)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cars)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cars)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Visitors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visitors)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ecluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
