@model IEnumerable<CondoSimples.Models.UserModel>

@{
    ViewBag.Title = "Usuários";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Adicionar usuário", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Unit.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Residents)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pets)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cars)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Visitors)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Unit.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CPF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Birthdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Residents)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pets)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cars)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Visitors)
        </td>
        <td>
            @Html.ActionLink("Editar usu", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.ID }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
