@model IEnumerable<CondoSimples.Models.CommonPlaceModel>

@{
    ViewBag.Title = "Index";
}

<h2>Área comum</h2>

<p>
    @Html.ActionLink("Cadastrar nova área comum", "Create")
</p>
<div class="table-responsive">
    <table class="table table-hover table-striped">
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IncludeItens)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Terms)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <span>R$</span> @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capacity)
                </td>
                <td style="width: 20%;">
                    @Html.DisplayFor(modelItem => item.IncludeItens)
                </td>
                <td style="width: 9%;">
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td style="width: 20%;">
                    @Html.DisplayFor(modelItem => item.Terms)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Excluir", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
</div>