@model IEnumerable<CondoSimples.Models.BoardModel>

@{
    ViewBag.Title = "Publicações";
}

<h2>Publicações</h2>

<p>
    @if (ViewBag.ActivePost != "S")
    {
        @Html.ActionLink("Nova publicação", "Create")
        @Html.Raw(" | ")
    }
    else
    {
        @Html.Raw("Você possui uma publicação ativa! | ")
    }

    @Html.ActionLink("Minhas publicações", "IndexByUser")

    @if (User.IsInRole("Sindico"))
    {
        @Html.Raw(" | ")
        @Html.ActionLink("Publicações pendentes", "IndexAdmin")
    }
</p>
<div class="table-responsive">
    <table class="table table-hover table-striped">
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Post)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateExpires)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Published)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="post-image">

                    <img src=@string.Concat("https://condosimplestg.blob.core.windows.net/fotostg/board_", @item.Id,".jpg") alt="Imagem do mural" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Post)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatePost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateExpires)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Published)
                </td>
            </tr>
        }

    </table>
</div>