@model IEnumerable<CondoSimples.Models.BoardModel>

@{
    ViewBag.Title = "Index";
}

<h2>Mural de avisos</h2>

<p>
    @if (ViewBag.ActivePost != "S")
    {
        @Html.ActionLink("Nova publicação", "Create")
        @Html.Raw(" | ")
    }
    else
    {
        @Html.Raw("Você já possui uma publicação ativa | ")
    }

    @Html.ActionLink("Minhas publicações", "IndexByUser")

    @if (User.IsInRole("Sindico"))
    {
        @Html.Raw(" | ")
        @Html.ActionLink("Publicações pendentes", "IndexAdmin")
    }
</p>
<table class="table">
    <tr>
        <th>
            <p>
                @Html.DisplayNameFor(model => model.Post)
            </p>
        </th>
        <th>
            <p>
            @Html.DisplayNameFor(model => model.DatePost)
            </p>
        </th>
        <!--<th>
            @Html.DisplayNameFor(model => model.DateExpires)
        </th>-->
        <th>
            <p>
                @Html.DisplayNameFor(model => model.Published)
            </p>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Post)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePost)
            </td>
            <!--<td>
                @Html.DisplayFor(modelItem => item.DateExpires)
            </td>-->
            <td>
                @Html.DisplayFor(modelItem => item.Published)
            </td>
        </tr>
    }

</table>

@foreach (var item in Model)
{
    <div class="col-md-12 board-entry">
        <p class="board-post">
            @Html.DisplayFor(modelItem => item.Post)
        </p>
        <p class="board-date">@Html.DisplayFor(modelItem => item.DatePost)</p>
    </div>
}