@model CondoSimples.Models.OutSourcerModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OutSourcerModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CNPJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNPJ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Site)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Site)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>

    </dl>
</div>

@Html.Partial("~/Views/Address/_DetailsPartial.cshtml", Model.Address)

<p>
    @Html.ActionLink("Alterar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Excluir", "Delete", new { id = Model.ID }) |
    @Html.ActionLink("Voltar", "Index")
</p>
