<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header full-width">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Content/Images/logo.png" alt="CondoSimples" class="logo-image"/>
                @Html.ActionLink("CondoSimples", "About", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.Partial("_LoginPartial")
            </div>
            <div class="navbar-collapse collapse">
                @if (User.IsInRole("Sindico"))
                {
                    <ul class="nav navbar-nav">
                        <li role="presentation">@Html.ActionLink("Home", "Index", "Home")</li>
                        @*<li role="presentation">@Html.ActionLink("Meus dados", "Edit", "User")</li>*@
                        <li role="presentation">@Html.ActionLink("Condomínio", "Index", "Condo")</li>
                        <li role="presentation">@Html.ActionLink("Funcionários", "Index", "Employee")</li>
                        <li role="presentation">@Html.ActionLink("Usuários", "Index", "User")</li>
                        <li role="presentation">@Html.ActionLink("Prestadores", "Index", "OutSourcer")</li>
                        <li role="presentation">@Html.ActionLink("Mural", "Index", "Board")</li>
                        <li role="presentation">@Html.ActionLink("Ocorrências", "Index", "Occurrence")</li>
                        <li role="presentation">@Html.ActionLink("Empréstimos", "Index", "Borrow")</li>
                        <li role="presentation">@Html.ActionLink("Encomendas", "IndexByUser", "Order")</li>
                        <li role="presentation">@Html.ActionLink("Notificação", "Index", "Notification")</li>
                        <li role="presentation">@Html.ActionLink("Trocar Senha", "ChangePassword", "Manage")</li>
                        <li role="presentation" class="visible-xs"><a href="javascript:document.getElementById('logoutForm').submit()">Sair</a></li>
                    </ul>
                }
                else if (User.IsInRole("Condomino"))
                {
                    <ul class="nav navbar-nav">
                        <li role="presentation">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li role="presentation">@Html.ActionLink("Funcionários", "Index", "Employee")</li>
                        @*<li role="presentation">@Html.ActionLink("Meus dados", "Edit", "User")</li>*@
                        <li role="presentation">@Html.ActionLink("Mural", "Index", "Board")</li>
                        <li role="presentation">@Html.ActionLink("Ocorrências", "Index", "Occurrence")</li>
                        <li role="presentation">@Html.ActionLink("Empréstimos", "Index", "Borrow")</li>
                        <li role="presentation">@Html.ActionLink("Encomendas", "IndexByUser", "Order")</li>
                        <li role="presentation">@Html.ActionLink("Trocar Senha", "ChangePassword", "Manage")</li>
                        <li role="presentation" class="visible-xs"><a href="javascript:document.getElementById('logoutForm').submit()">Sair</a></li>
                    </ul>
                }
                else if (User.IsInRole("Empregado"))
                {
                    <ul class="nav navbar-nav">
                        <li role="presentation">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li role="presentation">@Html.ActionLink("Usuários", "Index", "User")</li>
                        <li role="presentation">@Html.ActionLink("Prestadores", "Index", "OutSourcer")</li>
                        <li role="presentation">@Html.ActionLink("Encomendas", "Index", "Order")</li>
                        <li role="presentation">@Html.ActionLink("Ocorrências", "Index", "Occurrence")</li>
                        <li role="presentation">@Html.ActionLink("Trocar Senha", "ChangePassword", "Manage")</li>
                        <li role="presentation" class="visible-xs"><a href="javascript:document.getElementById('logoutForm').submit()">Sair</a></li>
                    </ul>
                }

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
               
    </div>
    <footer class="standard-footer">
        <div class="container">
            <p>&copy; @DateTime.Now.Year - CondoSimples</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
