@model IEnumerable<CondoSimples.Models.ScheduleModel>

@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<h2>Agenda de áreas comuns</h2>

<section class="report">
    @Html.ActionLink("Fazer nova reserva", "Create")

    <button id="print" class="btn btn-default pull-right" onclick="printPage();">Imprimir relatório</button>
</section>
<div class="table-responsive">
    <table class="table table-hover table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateSchedule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Place.Name)
            </th>
            @if (User.IsInRole("Sindico"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.User.Unit.Tower.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User.Unit.Name)
                </th>
                <th></th>
            }
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateSchedule)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Place.Name)
                </td>
                @if (User.IsInRole("Sindico"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Unit.Tower.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Unit.Name)
                    </td>

                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Detalhes", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Excluir", "Delete", new { id = item.ID })
                    </td>
                }
            </tr>
        }

    </table>
    </div>
<script>
    function printPage() {
        window.print();
    }
</script>