@model IEnumerable<CondoSimples.Models.ScheduleModel>

@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<h2>Agenda de áreas comuns</h2>

<section class="report">
    @Html.ActionLink("Fazer nova reserva", "Create", null , new { @class = "hidden-print" })
    @if (User.IsInRole("Sindico"))
    {
        <button id="print" class="btn btn-default pull-right hidden-print" onclick="printPage();">Imprimir relatório</button>
    }
</section>
<div class="table-responsive">
    <table class="table table-hover table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateSchedule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Place.Name)
            </th>
            @if (User.IsInRole("Sindico"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.User.Unit.Tower.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User.Unit.Name)
                </th>
                <th class="hidden-print"></th>
            }
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateSchedule)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Place.Name)
                </td>
                @if (User.IsInRole("Sindico"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Unit.Tower.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Unit.Name)
                    </td>

                    <td class="hidden-print">
                        @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Detalhes", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Excluir", "Delete", new { id = item.ID })
                    </td>
                }
            </tr>
        }

    </table>
    </div>

<h3 class="hidden-print">Áreas disponíveis</h3>
<table class="table table-hover table-striped hidden-print">
    @foreach (var item in ViewBag.Places)
    {
        <tr>
            <td style="width: 25%;">
                @item.Name
            </td>
            <td>
                <span>R$</span> @item.Price
            </td>
            <td>
                @item.Capacity
            </td>
            <td style="width: 30%;">
                @item.IncludeItens
            </td>
            <td style="width: 30%;">
                @item.Terms
            </td>
        </tr>
    }

</table>

<script>
    function printPage() {
        window.print();
    }
</script>