@model CondoSimples.Models.OccurrenceModel

@{
    ViewBag.Title = "Details";
}

<h2>Ocorrências - Detalhes</h2>

<div>
    <h4>Ocorrência</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd class="col-md-5">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOccurrence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOccurrence)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Voltar", "Index")
</p>
