@model IEnumerable<CondoSimples.Models.OccurrenceModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nova ocorrência", "Create") |
    @Html.ActionLink("Todas as ocorrências", "Index") |
    @Html.ActionLink("Pendentes", "IndexPending") |
    @Html.ActionLink("Resolvidas", "IndexSolved")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOccurrence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Solved)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOccurrence)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Solved)
        </td>
        <td>
            @Html.ActionLink("Detalhes", "Details", new { id=item.ID }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
