@model CondoSimples.Models.OrderModel

@{
    ViewBag.Title = "Delete";
}

<h2>Excluir</h2>

<h3>Tem certeza que quer excluir isto?</h3>
<div>
    <h4>Registro de encomendas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateReceived)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateReceived)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /><br />
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
