@model IEnumerable<CondoSimples.Models.OrderModel>

@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<h2>Encomendas e correspondências recebidas</h2>

<section class="report">
    @Html.ActionLink("Registrar nova encomenda", "Create", null, new { @class = "hidden-print" })

    <button id="print" class="btn btn-default pull-right hidden-print" onclick="printPage();">Imprimir relatório</button>
</section>
<div class="table-responsive">
    <table class="table table-hover table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateReceived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Received)
            </th>
            <th>
                @Html.DisplayNameFor(EmployeeModel => EmployeeModel.UserEmployee)
            </th>
            @if (User.IsInRole("Empregado"))
            {
                <th>
                    @Html.DisplayNameFor(UserModel => UserModel.UserRecipient)
                </th>
            }
            <th class="hidden-print"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateReceived)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Received)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserEmployee.Name)
                </td>
                @if (User.IsInRole("Empregado"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.UserRecipient.Unit.Name)
                    </td>
                    <td class="hidden-print">
                        @Html.ActionLink("Excluir", "Delete", new { id = item.ID })
                        @if (!item.Received)
                        {
                            <br>
                            @Html.ActionLink("Marcar retirada", "Received", new { id = item.ID })
                        }
                    </td>
                }
            </tr>
        }

    </table>
</div>

<script>
    function printPage() {
        window.print();
    }
</script>