@model IEnumerable<CondoSimples.Models.OrderModel>

@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<h2>Encomendas e correspondências recebidas</h2>

<section class="report">
    @Html.ActionLink("Registrar nova encomenda", "Create")

    <button id="print" class="btn btn-default pull-right" onclick="printPage();">Imprimir relatório</button>
</section>
<div class="table-responsive">
    <table class="table table-hover table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateReceived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateReceived)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Excluir", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
</div>

<script>
    function printPage() {
        window.print();
    }
</script>