@model IEnumerable<CondoSimples.Models.TowerModel>

@{
    ViewBag.Title = "Torres";
}

<h2>Torres</h2>

<p>
    @Html.ActionLink("Cadastrar nova torre", "Create")
</p>
<div class="table-responsive">
    <table class="table table-hover table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Condo.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Condo.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.ID })
                    @*@Html.ActionLink("Excluir", "Delete", new { id = item.ID })*@
                </td>
            </tr>
        }

    </table>
</div>