@model CondoSimples.Models.UnitModel

@{
    ViewBag.Title = "Detalhes da unidade";
}

<h2>Detalhes</h2>

<div>
    <h4>Unidades</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tower.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tower.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Voltar", "Index")
</p>
