@model IEnumerable<CondoSimples.Models.UnitModel>

@{
    ViewBag.Title = "Unidades";
}

<h2>Unidades</h2>

<p>
    @Html.ActionLink("Cadastrar nova unidade", "Create")
</p>
<table class="table-responsive table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tower.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tower.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.ID }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
