@model CondoSimples.Models.EmployeeModel

@{
    ViewBag.Title = "Detalhes";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <dl class="dl-horizontal">
        <dt class="pull-left">
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DutyDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DutyDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkShift)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkShift)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Voltar", "Index")
</p>
