@model CondoSimples.Models.CondoModel

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("input#addTowerUnit").click(function () {
            var tower = $('#tower').val();
            var unit = $('#unit').val();

            if (tower != "" && unit != "") {
                $('#dvTowers').html($('#dvTowers').html() + "<p>Torre: " + tower + ", " + unit + " Unidades.</p>");

                if ($('#towers_units').val() != "") {
                    $('#towers_units').val($('#towers_units').val() + ";" + tower + "," + unit);
                } else {
                    $('#towers_units').val(tower + "," + unit);
                }

                $('#tower').val("");
                $('#unit').val("");
            }
        });

        $("form").submit(function () {
            if ($('#towers_units').val() == "") {
                alert("Adicione as torres para prosseguir");                
                return false;
            }
        });
    });
</script>

@{
    ViewBag.Title = "Novo";
}

<h2>Novo</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Condomínio</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ParkingSlots, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ParkingSlots, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.ParkingSlots, "", new { @class = "text-danger" })
            </div>
        </div>

        <h4>Torres</h4>
        <hr />

        <input type="hidden" id="towers_units" name="towers_units" />
        <div class="form-group">
            <label class="control-label col-md-2">Torres Inseridas</label>
            <div class="col-md-10" id="dvTowers">
            </div>
        </div>

        <div class="form-group">
            <label for="towers" class="control-label col-md-2">Nome Torre</label>
            <div class="col-md-10">
                <input type="text" id="tower" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="units" class="control-label col-md-2">Número de unidades</label>
            <div class="col-md-10">
                <input type="number" id="unit" class="form-control" />
                <input type="button" id="addTowerUnit" value="Incluir" class="btn btn-default" />
            </div>

        </div>


        @Html.Partial("~/Views/Address/_CreatePartial.cshtml", Model.Address)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Prosseguir cadastrar síndico" class="btn btn-default" />
            </div>
        </div>
    </div>
}

