@model CondoSimples.Models.CondoModel

@{
    ViewBag.Title = "Novo";
}

<script>
    $.ajax({
        type: 'POST',
        url: 'http://kyleschaeffer.com/feed/',
        data: { postVar1: 'theValue1', postVar2: 'theValue2' },
        beforeSend: function () {
            // this is where we append a loading image
            $('#ajax-panel').html('<div class="loading"><img src="/images/loading.gif" alt="Loading..." /></div>');
        },
        success: function (data) {
            // successful request; do something with the data
            $('#ajax-panel').empty();
            $(data).find('item').each(function (i) {
                $('#ajax-panel').append('<h4>' + $(this).find('title').text() + '</h4><p>' + $(this).find('link').text() + '</p>');
            });
        },
        error: function () {
            // failed request; give feedback to user
            $('#ajax-panel').html('<p class="error"><strong>Oops!</strong> Try that again in a few moments.</p>');
        }
    });
</script>


<h2>Novo</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Condomínio</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ParkingSlots, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ParkingSlots, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ParkingSlots, "", new { @class = "text-danger" })
            </div>
        </div>


        <div id="towers">
            
        </div>


        <div class="form-group">
            <label for="towers" class = "control-label col-md-2">Número de torres</label>
            <div class="col-md-10">
                <input type="number" name="towers" class = "form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="units" class="control-label col-md-2">Número unidades por torre</label>
            <div class="col-md-10">
                <input type="number" name="units" class="form-control" />
            </div>
        </div>

        @Html.Partial("~/Views/Address/_CreatePartial.cshtml", Model.Address)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Prosseguir cadastrar síndico" class="btn btn-default" />
            </div>
        </div>
    </div>
}
